
<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-content">
    <h1 class="main-title">Welcome to AI Media Studio</h1>
    <h2 class="sub-title">Select a feature to get started</h2>
    <p class="description">
      Your One-Stop Solution for Content Creation, Audio Generation, Image Crafting, & AI Chatbot Development.
    </p>

    
<mat-card>
 
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter text</mat-label>
      <textarea matInput [(ngModel)]="text"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select Voice</mat-label>
      <mat-select [(ngModel)]="selectedVoice">
        <mat-option *ngFor="let voice of voices" [value]="voice.name">
          {{ voice.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="generateSpeech()">
      Generate Speech
    </button>
  </mat-card-content>
</mat-card>

    
  </div>
</div>







